html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
body>div {
    width: 100%;
    height: 100%;
    display: none;
}

#login>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 30%;
}

#bell {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}
#host>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    min-width: 30%;
}
#host #order {
    margin-top: 10px;
}

#host li:first-child:not(:only-child){
    display: none;
}