html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
} 
body>div {
    width: 100%;
    height: 100%;
    display: none;
}
#login>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 30%;
}
#status {
    width: 100%;
    height: 10%;
}
#board>div{
    margin: 10px auto;
    width: 80%;
    height: 80%;
}
#board table {
    height: 100%;
    width: 100%;
}
#board td {
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border: white 4px solid;
    width: 20%
}

#question #btns{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: 5px auto;
}

#question #validation{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#question .validation {
    width: 50%;
}

#bell {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}