html, body {
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
} 
body>div {
    width: 100%;
    height: 100%;
    display: none;
}
#login>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 30%;
}
#board>div{
    margin: 10px auto;
    width: 80%;
    height: 80%;
}
#board table {
    height: 100%;
    width: 100%;
}
#board td {
    background-color: blue;
    color: white;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
    border: white 4px solid;
    width: 20%
}

#question #info {
    width: 60%;
    margin: 10% auto 0 auto;
    text-align: center;
}

#question #q {
    padding-bottom: 50px;
}

#question #a {
    border-top: black 5px solid;
    padding-top: 50px;
}


#question #btns{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5%;
    height: 8%;
    width: 60%;
    margin: 5px auto;
}

#question input{
    height: 100%;
    border-radius: 0;
}

#question #validation{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#question .validation {
    width: 50%;
}

#question #correct {
    border-radius: 15px 0 0 0 ;
}

#question #incorrect {
    border-radius: 0 15px 0 0;
}

#question #back {
    border-radius: 0 0 15px 15px;
}

#buzzer #status{
    position: absolute;
    width: 60%;
    bottom: 80%;
    left: 20%;
}

#buzzer #status *{
    position: relative;
    max-width: 50%;
    bottom: 0;
}

#buzzer #place{
    float: left;
}

#buzzer #score{
    float: right;
    text-align: right;
}

#buzzer #bell {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
}