html, body{
	height: 100%;
} h1 {
	width: 100%;
	text-align: center;
} #wrapper, #addCards {
	margin: 5vh auto 0 auto;
	width: fit-content;
	border: blue solid 3px;
	border-radius: 10px;
	padding: 1rem;
} #hud {
	padding: 10px;
	float: left;
	width: 100%;
	/* display: inline-block; */
	border: blue solid 3px;
	border-radius: 10%;
	width: 30%;
	height: 100%;
}

#table{
	/* display: inline-block; */
	float: right;
}

#hand{
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.card{
	display: inline-block;
	padding-top: 40%;
	width: 30%;
	background-color: #cccc;
	border-radius: 10%;
}

#header{
	width: 100%;
	text-align: center;
}

#chat{
	height: 300px;
	border: black 1px solid;
}

#chat input{
	position: absolute;
	bottom: 0;
}

.serverMessage{
	color: blue;
	text-emphasis: bold;
}

